USE [master]
GO
/****** Object:  Database [RealEstate]    Script Date: 22.03.2024 19:46:27 ******/
CREATE DATABASE [RealEstate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RealEstate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EventsDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RealEstate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RealEstate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstate]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DealShare] [int] NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApartmentDemands]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartmentDemands](
	[Id] [int] NOT NULL,
	[CityId] [int] NULL,
	[StreetId] [int] NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_ApartmentDemands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[Id] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
	[AddressHouse] [int] NOT NULL,
	[AddressNumber] [int] NOT NULL,
	[CoordinateLatitude] [int] NOT NULL,
	[CoordinateLongitude] [int] NOT NULL,
	[TotalArea] [float] NOT NULL,
	[Rooms] [int] NOT NULL,
	[Floor] [int] NOT NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citys]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citys](
	[Id] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Citys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Area] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseDemands]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseDemands](
	[Id] [int] NOT NULL,
	[CityId] [int] NULL,
	[StreetId] [int] NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinFloors] [int] NULL,
	[MaxFloors] [int] NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
 CONSTRAINT [PK_HouseDemands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houses]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[Id] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[CoordinateLatitude] [int] NOT NULL,
	[CoordinateLongitude] [int] NOT NULL,
	[TotalFloors] [int] NOT NULL,
	[TotalArea] [float] NOT NULL,
 CONSTRAINT [PK_Houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandDemands]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandDemands](
	[Id] [int] NOT NULL,
	[CityId] [int] NULL,
	[StreetId] [int] NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[MinPrice] [money] NULL,
	[MaxPrice] [money] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
 CONSTRAINT [PK_LandDemands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lands]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lands](
	[Id] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
	[AddressHouse] [int] NULL,
	[AddressNumber] [int] NULL,
	[CoordinateLatitude] [int] NOT NULL,
	[CoordinateLongitude] [int] NOT NULL,
	[TotalArea] [float] NOT NULL,
 CONSTRAINT [PK_Lands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 22.03.2024 19:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[Id] [int] NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Streets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[ApartmentDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ApartmentDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (6, 1, NULL, NULL, NULL, NULL, 3100000.0000, 7, 5, 20, NULL, NULL, NULL, 4, NULL)
INSERT [dbo].[ApartmentDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (7, 1, 12, NULL, NULL, NULL, NULL, 24, 25, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Apartments] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea], [Rooms], [Floor]) VALUES (1, 1, 13, 25, 12, 0, 0, 41.7, 1, 3)
INSERT [dbo].[Apartments] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea], [Rooms], [Floor]) VALUES (2, 1, 4, 8, 44, 0, 0, 105, 3, 5)
INSERT [dbo].[Apartments] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea], [Rooms], [Floor]) VALUES (3, 1, 6, 139, 6, 0, 0, 62, 3, 2)
GO
INSERT [dbo].[Citys] ([Id], [City]) VALUES (1, N'Тюмень')
INSERT [dbo].[Citys] ([Id], [City]) VALUES (2, N'Отсутствует')
GO
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'32-25-55', NULL)
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[Districts] ([Id], [Name], [Area]) VALUES (1, N'Лесная поляна с/о', N'((57.0731042147057,65.549416154359),(57.0745884264208,65.5493517813426),(57.0745884264208,65.5516048369151),(57.0725432372756,65.5515404638987),(57.0731042147057,65.549416154359))')
INSERT [dbo].[Districts] ([Id], [Name], [Area]) VALUES (2, N'Марай ', N'((56.8549652558969,66.014590740761),(56.8566110370811,66.0143332486955),(56.860184483092,66.0265212064592),(56.8588679902234,66.0328726774065),(56.8566110370811,66.0313277250139),(56.8532723765529,66.0339884763566),(56.8532253510366,66.0188822751848),(56.8530842741093,66.0194830900041),(56.8549652558969,66.014590740761))')
INSERT [dbo].[Districts] ([Id], [Name], [Area]) VALUES (3, N'Ольховое с/о', N'((56.9367892844497,65.8276850838403),(56.9354285777792,65.829616274331),(56.9356162644209,65.8304316658715),(56.9358039501145,65.8316762108544),(56.9373992402273,65.8348948616723),(56.9388302510096,65.8318478722314),(56.9367892844497,65.8276850838403))')
GO
INSERT [dbo].[HouseDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HouseDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinFloors], [MaxFloors], [MinArea], [MaxArea], [MinRooms], [MaxRooms]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Houses] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalFloors], [TotalArea]) VALUES (9, 1, 1, 25, NULL, 0, 0, 2, 84.4)
INSERT [dbo].[Houses] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalFloors], [TotalArea]) VALUES (10, 1, 14, NULL, NULL, 0, 0, 3, 130)
INSERT [dbo].[Houses] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalFloors], [TotalArea]) VALUES (11, 1, 3, NULL, NULL, 0, 0, 1, 120)
GO
INSERT [dbo].[LandDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, 15, 12, NULL, NULL)
INSERT [dbo].[LandDemands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, 1, 14, NULL, NULL)
GO
INSERT [dbo].[Lands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea]) VALUES (12, 1, 5, NULL, NULL, 0, 0, 45371)
INSERT [dbo].[Lands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea]) VALUES (13, 1, 2, NULL, NULL, 0, 0, 16772)
INSERT [dbo].[Lands] ([Id], [CityId], [StreetId], [AddressHouse], [AddressNumber], [CoordinateLatitude], [CoordinateLongitude], [TotalArea]) VALUES (14, 1, 10, NULL, NULL, 0, 0, 12)
GO
INSERT [dbo].[Streets] ([Id], [Street]) VALUES (1, N'1-й Заречный')
INSERT [dbo].[Streets] ([Id], [Street]) VALUES (2, N'Алексеевский хутор')
INSERT [dbo].[Streets] ([Id], [Street]) VALUES (3, N'Березняковский п')
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Agents]
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Citys] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Citys]
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Clients]
GO
ALTER TABLE [dbo].[ApartmentDemands]  WITH CHECK ADD  CONSTRAINT [FK_ApartmentDemands_Streets] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
GO
ALTER TABLE [dbo].[ApartmentDemands] CHECK CONSTRAINT [FK_ApartmentDemands_Streets]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Citys] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Citys]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Streets] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Streets]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Agents]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Citys] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Citys]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Clients]
GO
ALTER TABLE [dbo].[HouseDemands]  WITH CHECK ADD  CONSTRAINT [FK_HouseDemands_Streets] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
GO
ALTER TABLE [dbo].[HouseDemands] CHECK CONSTRAINT [FK_HouseDemands_Streets]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_Citys] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_Citys]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_Streets] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_Streets]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Agents]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Citys] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Citys]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Clients]
GO
ALTER TABLE [dbo].[LandDemands]  WITH CHECK ADD  CONSTRAINT [FK_LandDemands_Streets] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
GO
ALTER TABLE [dbo].[LandDemands] CHECK CONSTRAINT [FK_LandDemands_Streets]
GO
ALTER TABLE [dbo].[Lands]  WITH CHECK ADD  CONSTRAINT [FK_Lands_Citys] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[Lands] CHECK CONSTRAINT [FK_Lands_Citys]
GO
ALTER TABLE [dbo].[Lands]  WITH CHECK ADD  CONSTRAINT [FK_Lands_Streets] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Streets] ([Id])
GO
ALTER TABLE [dbo].[Lands] CHECK CONSTRAINT [FK_Lands_Streets]
GO
USE [master]
GO
